@{
    ViewBag.Title = "Html5";
}
<!--<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>-->
<!DOCTYPE html>
<html>
<head>
    <title>HTML 5</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Html5.css" />
</head>
<body>
    <header>
        <h1>Новостная лента</h1>
    </header>
    <section>
        <article>
            <h2>День Победы</h2>
            <nav>
                День Победы — праздник победы Советской Армии и советского народа над нацистской Германией в Великой Отечественной войне 1941—1945 годов.
                Отмечается 9 мая каждого года. В день победы имеет место организованноешествие к памятнику Неизвестному Солдату,
                военный парад в городах-героях, а также салют в знак победы.
                <p>Нерабочий день на всей территории СНГ — в Абхазии,
                    Азербайджане, Армении, Белоруссии, Грузии, Казахстане, Киргизии,Молдавии, России, Таджикистане, Туркменистане,
                    Узбекистане, Украине и Южной Осетии.
                </p>
            </nav>
         
            <img src="~/Images/01.jpg" />
            <nav>
                <p>Введён в 1945 году, до 1948 года являлся нерабочим днём.</p>
                <p>Впервые широко был отпразднован в СССР лишь спустя два десятилетия, уже при Брежневе. В том же юбилейном 1965 годуДень Победы снова стал нерабочим.</p>
                <p>В период существования СССР военныe парады на Красной площади 9 мая были в юбилейные 1965, 1975, 1985 и 1990 годы.</p>
                <p>Также, c шестидесятых годов своеобразные военные парады 9 мая стали проводиться во многих городах СССР. В этот день воинские части и военные училища маршем проходили по улицам городов к военным мемориалам или памятникам погибшим воинам, где проводились митинги и возложение цветов.</p>
                <p>После распада СССР парады 9 мая на Красной площади не проводились до юбилейного 1995 года. Тогда в Москве прошли два парада: на Красной площади (в пешем строю) и на Поклонной горе (с участием войск и боевой техники).</p>
                <p>С тех пор парады на Красной площади стали проводить ежегодно — но без боевой техники. С 2008 года парад стал вновь проводиться с участием боевой техники, в том числе военной авиации.</p>
                <p>Праздничные шествия в честь Дня Победы традиционно проходят во всех городах-героях, военных округах в ряде крупных городов России и стран СНГ.</p>
                <p>В этот день традиционно встречаются фронтовики, возлагаются венки к Могиле Неизвестного Солдата, памятникам славы и воинской доблести, гремит праздничный салют.</p>
                
            </nav>
        </article>
        <aside>Эта новость опубликована <time datetime="2015-04-22">22 апреля 2015 года</time></aside>
    </section>
    <footer>
        <p>Материалы взяты из онлайн-энциклопедии http://www.encyclopaedia-russia.ru</p>
    </footer>
</body>
</html>