header {
    align-content: center;
    color: grey;
}

nav {
    color: black;
}

article {
    color: red;
    
}
div{
    text-align:left;
    
}
ul{
    color:black;
}

aside {
    align-content:flex-end;
    color: gray;
}
h2{
    color:red;
}
h1{
    color:gray;
}