@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>



<section class="contact">
    <header>
        <h3>Links</h3>
    </header>
    <p>Ural Federal University</p>
    <p>
        <span class="label">Email</span>
        <span><a href="mailto:vz174@mail.ru">vz174@mail.ru</a></span>
    </p>
    
</section>

